<div class="container">
  <div class="user-details">
    <h3> R Course </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="five columns">
      <h4>Block 1</h4>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="five columns">
      <h4>Block 2</h4>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="five columns">
      <h4>Block 3</h4>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="five columns">
      <h4>Block 4</h4>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
  </div>
</div>
