<div class="container">
  <div class="user-details">
    <h3> R Course </h3>
    <p> {{site.user_description}}<br>
    R Courses for beginners, academics, and professionals. 
    We teach basic R, frequentist and Bayesian statistics, and data visualization. 
    We introduce you to R's highly efficient <code>tidyverse</code> library and documentation tools for reproducible reports.   
    We demonstrate big data applications and cutting-edge machine-learning techniques.  
    </p>
  </div>
  <div class="row user">
    <div class="five columns">
      <h3>Basics</h3>   
      <p>
        <img src="https://www.r-project.org/logo/Rlogo.png" alt="rlogo" height="100px">
        <br>
        Getting started with R and RStudio. Installing software and packages. Reading data from external files and doing basic manipulations.</p>
    </div>
    <div class="five columns">
      <h3>Statistics</h3>
      <p>
        <img src="therbootcamp.github.io/assets/img/normal.png" alt="ttest" height="100px">
        <br>
        Descriptive and inferential statistics. Hypothesis testing with t-tests, ANOVA and regression. 
        Machine learning and statistical prediction with decision trees, random forests and support vector machines.</p>
    </div>
    <div class="five columns">
      <h3>Visualisation</h3>
      <p>
         <img src="therbootcamp.github.io/assets/img/scatterplot.png" alt="ttest" height="100px">
        <br>
        Histograms, barplots and scatterplots. Networks and maps. Interactive graphics with Shiny.</p>
    </div>
    <div class="five columns">
      <h3>Productivity</h3>
      <p>
         <img src="therbootcamp.github.io/assets/img/sharing.png" alt="ttest" height="100px">
        <br>
        Debugging. Writing fast code with C++ and parallel programming. Writing, organizing, and sharing reproducible code using R Markdown and GitHub.</p>
    </div>
  </div>
</div>
