<style>
table, th, td
{
  border: 0;
}
table
{
  border-collapse:collapse;
}
p.block{
	text-align: justify;
}
</style>

<div class="container hide-div">
  <div class="user-details .table-responsive">
    <br><br>
    <h2>R Bootcamps</h2>
    
  </div>
  <div class="float-button">
   <a href="#contact">
   <button data-toggle="modal" data-target=".your-modal" class="contact-button">
   		Contact us.
   </button>
   </a>
  </div>
  
  
  <div class="row">
	<table width="100%"  border="0">
    <col width="24%">
  	<col width="24%">
  	<col width="24%">
  	<col width="24%">
  	<tr>    
  		<td valign="top" colspan=4>
    		<p>
    			Learn Data Science from experienced R communicators and developers in a learning-friendly environment. We take the necessary time to teach what you need to become ready for the data revolution.<br><br>
    		
	    		Our courses teach all aspects of data science with R in in-depth, hands-on courses for beginners, academics, and industry professionals. 
   	 			We cover statistical analysis and machine learning.
   	 			We show you how to make elegant, informative data visualizations for data both big and small.
    			We introduce you to some of R's most efficient libraries for data analysis and tools to write transparent, reproducible reports.<br><br>
    			
    			Feel free to explore the materials of our <a href="https://therbootcamp.github.io/Intro2DataScience_2018Oct/"><b>LATEST COURSE</b></a>.
    		</p>
  		</td>
  	</tr>
  	<tr>
  		<td valign="top">
      		<h4 align="center">Essentials</h4>   
      		<p align="center">
        		<img src="therbootcamp.github.io/assets/img/rlogo_c.png" alt="rlogo" height=180px>
        		<br>
        		Get to know the R and RStudio environment. Load your data into R and do basic manipulations.
        	</p>
    	</td>
    	<td valign="top">
    		<h4 align="center">Analysis</h4>
      		<p align="center">
        		<img src="therbootcamp.github.io/assets/img/normal.png" alt="ttest" height=180px>
        		<br>
        		Descriptive and inferential statistics. Applied machine learning and statistical prediction.
        	</p>
    	</td>
    	<td valign="top">
    	    <h4 align="center">Visualisations</h4>
      		<p align="center">
         		<img src="therbootcamp.github.io/assets/img/scatterplot.png" alt="ttest" height=180px>
        		<br>
        		Publication-ready visualisations for small and big data. Interactive websites with Shiny.
        	</p>
    	</td>
    	<td valign="top">
    		<h4 align="center">Productivity</h4>
      		<p align="center">
         		<img src="therbootcamp.github.io/assets/img/gearshare.png" alt="ttest" height=180px>
        		<br>
        		Speed up your code. Write and share reproducible code and reports using R Markdown.
        	</p>
    	</td>
  	</tr>
	</table>
    
  
  </div>
</div>

<div class="container show-div">
  <div class="user-details .table-responsive">
    <br><br>
    <h2>R Bootcamps</h2>
    
  </div>
  <div class="float-button">
   <a href="#contact">
   <button data-toggle="modal" data-target=".your-modal" class="contact-button">
   		Contact us.
   </button>
   </a>
  </div>
  
  
  <div class="row">
	<table width="100%"  border="0">
    <col width="24%">
  	<col width="24%">
  	<col width="24%">
  	<col width="24%">
  	<tr>    
  		<td valign="top" colspan=4>
    		<p>
	    		Learn Data Science with R from the ground up in in-depth, hands-on courses for beginners, academics, and professionals. 
   	 			We cover statistical analysis and machine learning.
   	 			We show you how to make elegant, informative data visualizations for data both big and small.
    			We introduce you to some of R's most efficient libraries for data analysis and tools to write transparent, reproducible reports.
    		</p>
  		</td>
  	</tr>
  	<tr>
  		<td valign="top">
      		<h4 align="center">Essentials</h4>   
      		<p align="center">
        		<img src="therbootcamp.github.io/assets/img/rlogo_c.png" alt="rlogo" height=140px>
        		<br>
        		Get to know the R and RStudio. Load your data into R and do basic calculations and manipulations.
        	</p>
    	</td>
    	<td valign="top">
    		<h4 align="center">Statistics</h4>
      		<p align="center">
        		<img src="therbootcamp.github.io/assets/img/normal.png" alt="ttest" height=140px>
        		<br>
        		Descriptive and inferential statistics. Bayesian statistics. Machine learning and statistical prediction.
        	</p>
    	</td>
    </tr>
    <tr>
    	<td valign="top">
    	    <h4 align="center">Visualisations</h4>
      		<p align="center">
         		<img src="therbootcamp.github.io/assets/img/scatterplot.png" alt="ttest" height=140px>
        		<br>
        		Publication-ready visualisations for small and big data. Interactive websites with Shiny.
        	</p>
    	</td>
    	<td valign="top">
    		<h4 align="center">Productivity</h4>
      		<p align="center">
         		<img src="therbootcamp.github.io/assets/img/gearshare.png" alt="ttest" height=140px>
        		<br>
        		Speed up your code. Write and share reproducible code using R Markdown and Github.
        	</p>
    	</td>
  	</tr>
	</table>
    
  
  </div>
</div>

