<div class="container">
  <div class="user-details">
    <br><br>
    <h2>R Course</h2>
    <p>
    An in-depth course for beginners, academics, and professionals. 
    We cover classic frequentist and modern Bayesian statistics.
    We show you how to make elegant, informative data visualizations.
    We introduce you to some of R's most efficient libraries for data analysis and tools to write transparent, reproducible reports.   
    We demonstrate big data applications and cutting-edge machine-learning techniques.  
    </p>
  </div>
  <div class="row user">
    <div class="five columns">
      <h4>Essentials</h4>   
      <p>
        <img src="therbootcamp.github.io/assets/img/rlogo_wide.png" alt="rlogo" height="150px">
        <br>
        Get started with R and RStudio. Install software and packages. Get your data into and out of R and doing basic manipulations.</p>
    </div>
    <div class="five columns">
      <h4>Statistics</h4>
      <p>
        <img src="therbootcamp.github.io/assets/img/normal.png" alt="ttest" height="150px">
        <br>
        Descriptive and inferential statistics. T-tests, ANOVA, regression. Bayesian statistics. 
        Machine learning and statistical prediction.</p>
    </div>
    <div class="five columns">
      <h4>Visualisation</h4>
      <p>
         <img src="therbootcamp.github.io/assets/img/scatterplot.png" alt="ttest" height="150px">
        <br>
        Histograms, barplots, scatterplots -- even our own <a href="https://ndphillips.github.io/yarrr">pirateplots</a>. Networks and maps. Interactive graphics with <a href="https://shiny.rstudio.com/">Shiny.</a></p>
    </div>
    <div class="five columns">
      <h4>Productivity</h4>
      <p>
         <img src="therbootcamp.github.io/assets/img/gearshare.png" alt="ttest" height="150px">
        <br>
        Write, organize, and share reproducible code using R Markdown and GitHub. Speed up your code with C++ and parallel programming. </p>
    </div>
  </div>
</div>
