<style>
table, th, td
{
  border: 0;
}
table
{
  border-collapse:collapse;
}
p.block{
	text-align: justify;
}

lrg {

  font-size:1.6em;
  weight:900;

}

lrgred {

  font-size:1.4em;
  weight:900;
  color: #EA4B68;

}

lrgwhite {

  font-size:1.6em;
  weight:900;
  color: white;

}

hr {
  display: block;
  margin-top: 0.0em;
  margin-bottom: 0.0em;
  margin-left: 30%;
  margin-right: 30%;
  border-style: inset;
  border-width: 0.5px;
  border-color: #606060;
}

td.course {
   text-align:center;
   border:1px solid;
   border-color:#606060;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   padding: 4px;
 }

/*
.flip-parent{
  display: table;
}
*/

 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-card {
   background-color: transparent;
   width: 300px;
   height: 200px;
   border: 1px solid black;
   border-radius: 10px;
   perspective: 1000px; /* Remove this if you don't want the 3D effect */
 }

 .flip-card-wide {
   background-color: transparent;
   width: 90%;
   height: 60px;
   border: 1px solid black;
   border-radius: 10px;
   perspective: 1000px; /* Remove this if you don't want the 3D effect */
 }

 /* This container is needed to position the front and back side */
 .flip-card-inner {
   display: table;
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.8s;
   transform-style: preserve-3d;
 }

 /* Do an horizontal flip when you move the mouse over the flip box container */
 .flip-card:hover .flip-card-inner {
   transform: rotateY(180deg);
 }

 /* Do an horizontal flip when you move the mouse over the flip box container */
 .flip-card-wide:hover .flip-card-inner {
   transform: rotateY(180deg);
 }

 /* Position the front and back side */
 .flip-card-front, .flip-card-back {
   display: table-cell;
   position: absolute;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
   vertical-align: middle;
   border-radius: 10px;
 }

 /* Style the front side (fallback if image is missing) */
 .flip-card-front {
   background-color: white ;
   color: #EA4B68;
 }

 /* Style the back side */
 .flip-card-back {
   background-color: #606060;
   color: white;
   transform: rotateY(180deg);
 }


</style>

<div class="container hide-div">
  <div class="user-details .table-responsive">
    <br><br>
    <h2>We teach R</h2>

  </div>
  <div class="float-button">
   <a href="#contact">
   <button data-toggle="modal" data-target=".your-modal" class="contact-button">
   		Contact us.
   </button>
   </a>
  </div>


  <div class="row">

    <p style="padding:0;margin:0">
      We are Dr. Dirk Wulff and Dr. Nathaniel Phillips, two Basel-based data scientists who have jointly spent over 20 years doing data science with R for both research and industry. We founded The R Bootcamp out of our passion for <lrg>R</lrg> and <lrg>Data Science</lrg>. Together with our <a href="https://therbootcamp.github.io/#about"><b><u>Team</u></b></a> of like-minded R enthusiasts we host public and in-house Data Science courses around Switzerland and Germany. Our goal is to help you learn the skills needed to discover and communicate insights from data.<br><br>

      </p><p style="padding:0;margin:0">
      Currently, we offer three standalone, complementary courses. For beginners with no R or other programming experience we recommend to first complete <b>R for Data Science</b>. For detailed course description see <a href="https://therbootcamp.github.io/#upcoming"><b><u>Upcoming Bootcamps</u></b></a>.<br><br>

      </p><p style="align:center;padding:0;margin:0">

      <table style="width:90%;margin:0px auto;cellspacing:10px;text-align:center;border-collapse:separate">
        <tr style="vertical-align:top;cellspacing:4px">
          <td class="course" width="30%">
            <lrgred>R for Data Science</lrgred><br>Learn the basics of R and how to use it to explore, manipulate, and visualize data.<br>
          </td>
          <td class="course" width="30%">
            <lrgred>Statistics with R</lrgred><br>Learn to derive actionable analytics from data using statistical inference in R.
          </td>
          <td class="course" width="30%">
            <lrgred>Machine Learning with R</lrgred><br>Learn about the power of Machine Learning and how to employ it with R.
          </td>
        </tr>
      </table>

      </p><p style="padding:0;margin:0">

      Our courses are composed of short, interactive presentations and longer hands-on practicals, during which you will work through step-by-step exercises designed to make you an active user of R. For every 5 participants there will be 1 instructor to ensure personalized support catering to your specific level and needs. Feel free to explore our open materials of our <a href="https://therbootcamp.github.io/appliedML_2019Jan/"><b><u>latest</u></b></a> and <a href="https://therbootcamp.github.io/#previous"><b><u>previous</u></b></a> courses. If you have any questions don't hesitate to send us a <a href="https://therbootcamp.github.io/#contact"><b><u>message</u></b></a>. To learn about the latest courses, sign up for our <a href="https://therbootcamp.github.io/#contact"><b><u>mailing list</u></b></a>.

    </p>

  </div>
</div>

<div class="container show-div">
  <div class="user-details .table-responsive">
    <br><br>
    <h2>We teach R</h2>

  </div>
  <div class="float-button">
   <a href="#contact">
   <button data-toggle="modal" data-target=".your-modal" class="contact-button">
   		Contact us.
   </button>
   </a>
  </div>


  <div class="row">

    <p style="padding:0;margin:0">
      We are Dr. Dirk Wulff and Dr. Nathaniel Phillips, two Basel-based data scientists who have jointly spent over 20 years doing data science with R for both research and industry. We founded The R Bootcamp out of our passion for <lrg>R</lrg> and <lrg>Data Science</lrg>. Together with our <a href="https://therbootcamp.github.io/#about"><b><u>Team</u></b></a> of like-minded R enthusiasts we host public and in-house Data Science courses in Switzerland and Germany. Our goal is to help you learn the skills needed to discover and communicate insights from data.<br><br>

      </p><p style="padding:0;margin:0">
        Currently, we offer three standalone, complementary courses. For beginners with no R or other programming experience we recommend to first complete <b>R for Data Science</b>. For detailed course description see <a href="https://therbootcamp.github.io/#upcoming"><b><u>Upcoming Bootcamps</u></b></a>.<br><br>

      </p>

      <div class="flip-card-wide" style="align:center;padding:0;margin:2px">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            R for Data Science
          </div>
          <div class="flip-card-back">
            <p style="top:50%">Learn the basics of R and how to use it to explore, manipulate, and visualize data.</p>
          </div>
        </div>
      </div>

      <div class="flip-card-wide" style="align:center;padding:1px;margin:2px">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            Statistics with R
          </div>
          <div class="flip-card-back">
            <p>Learn to derive actionable analytics from data using statistical inference in R.</p>
          </div>
        </div>
      </div>

      <div class="flip-card-wide" style="align:center;padding:1px;margin:2px">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            Machine Learning with R
          </div>
          <div class="flip-card-back">
            <p>Learn about the power of Machine Learning and how to employ it with R.</p>
          </div>
        </div>
      </div>
        <br>

<!---
      <table style="width:96%;margin:0px auto;cellspacing:10px;text-align:center;border-collapse:separate">
        <tr style="vertical-align:top">
          <td class="course" width="32%">
            <lrgred>R for Data Science</lrgred><br>Learn the basics of R and how to use it to explore, manipulate, and visualize data.
          </td>
          </tr>
          <tr>
          <td class="course" width="32%">
            <lrgred>Statistics with R</lrgred><br>Learn to derive actionable analytics from data using statistical inference in R.
          </td>
          </tr>
          <tr>
          <td class="course" width="32%">
            <lrgred>Machine Learning with R</lrgred><br>Learn about the power of Machine Learning and how to employ it with R.
          </td>
        </tr>
      </table>

--->

      <p style="padding:0;margin:0">

      Our courses are composed of short, interactive presentations and longer hands-on practicals, during which you will work through step-by-step exercises designed to make you an active user of R. For every 5 participants there will be 1 instructor to ensure personalized support catering to your specific level and needs. Feel free to explore the open materials of our <a href="https://therbootcamp.github.io/appliedML_2019Jan/"><b><u>latest</u></b></a> and <a href="https://therbootcamp.github.io/#previous"><b><u>previous</u></b></a> courses. If you have any questions don't hesitate to send us a <a href="https://therbootcamp.github.io/#contact"><b><u>message</u></b></a>. To learn about the latest courses, sign up for our <a href="https://therbootcamp.github.io/#contact"><b><u>mailing list</u></b></a>.
    </p>
  </div>

  <br><br><br><br>
</div>
