<!DOCTYPE html>
<html lang="en">

<body>
  
<style>

@import url('https://fonts.googleapis.com/css?family=Raleway');

.my-table {
  font-size:16px;
  font-family: 'Montserrat', sans-serif;
  border-spacing:6px 4px;
  line-height: 1.2;
  }

.my-table th {
  font-size:12px;
  font-weight:400;
  width: 100;
  text-align: right;
  vertical-align: top;
  padding: 4px 4px;
  }

.my-table td {
  font-weight:400;
  vertical-align: top;
  padding: 4px 4px;
}

.td-special {
  font-weight:400;
  font-style: italic;
}

.cont {
        font-weight:400;
	font-size:10px;
	line-height: 1.1;
    margin-top: 4px;
}

.sub {
        font-weight:400;
}

</style>
  


<table cellspacing=0 cellpadding=0 class="my-table">
  <col width=45%>
  <col width=5%>
  <col width=5%>
  <col width=22.5%>
  <col width=22.5%>

  <th style="text-align:left"><font style="font-size:20px;font-weight:800;">Course description</font></th>  
  <th>&nbsp;</th>
  <th colspan=3 style="text-align:left"><font style="font-size:20px;font-weight:800;">Schedule</font></th>

<tr>

   <td rowspan=0>
  <font style="font-size:14px">
  Data science is one of the most exciting fields around, and the R statistical language is one of the best ways to learn and practice it. In this packed weekend, you will learn how to do data science using R from the ground-up. You will start by learning the basics of the R language and the RStudio programming environment. You will then cover topics ranging from loading data from external files, to cleaning and organising data, to creating striking visualisations.
  <br><br>
  Each day will contain a series of short lectures and examples to introduce you to new topics. The bulk of each day will be dedicated to hands-on exercises to help you ‘learn by doing’. Dedicated time will be given for 1:1 feedback. All course materials, tutorials, examples, exercises, and solutions will be available online for you to view at any time during, and after the course.
  <br><br>
  Participants are requested to bring their own laptop with software installation rights. We will provide a limited number of spare laptops for those that cannot bring their own. There are no strict knowledge prerequisites for this course. Prior experience with a programming language (e.g.; SAS, R, STATA), as well as an introductory course in statistics, is helpful but not necessary.
   </td>
   <td rowspan=0></td>
  <th>&nbsp;</th>  
  <th style="text-align:left">Day 1</th>
  <th style="text-align:left">Day 2</th>
   
   
 <tr>  
   <th>9:00</th>
   <td>Welcome</td>
   <td>Recap</td>
</tr>
<tr>
   <th align="right">9:30</th>
   <td rowspan = 5 >Introduction<br>
   <font class="sub">+Tutorial</font><br>
   <p class="cont">
   Understanding the basics of working with R.<br> 
   How work to with R Studio and R Projects?
   </p>
   </td>
   <td rowspan = 5>Analysing<br>
   <font class="sub">+Practical</font><br>
   <p class="cont">
   How to calculate descriptive statistics?
   How to aggregate data?
   </p>
</td>
</tr>
<tr>
   <th>&nbsp;</th>
   <td align="center">
</tr>
<tr>
   <th align="right">&nbsp;</th>
</tr>
<tr>
   <th>&nbsp;</th>
</tr>
<tr>
   <th>&nbsp;</th>
</tr>
<tr>
   <th align="right">12:00</th>
   <td rowspan = 2 class="td-special">Lunch
   <td rowspan = 2 class="td-special">Lunch
</tr>
<tr>
   <th align="right">&nbsp;</th>
</tr>
<tr>
   <th align="right">13:00</th>
   <td rowspan = 5 >Data<br>
   <font class="sub">+Practical</font><br>
   <p class="cont">
   Understanding data objects and functions in R.<br>
   How to read and write data?
   </p>
   <td rowspan = 5 >Plotting<br>
   <font class="sub">+Practical</font><br>
   <p class="cont">
   How to create plots? (barplot, scatterplot, heatmaps etc.)<br>
   How to customize plots? (colors, multi-panel, style, etc.)
   </p>
</tr>
<tr>
   <th align="right">&nbsp;</th>
</tr>
<tr>
   <th align="right">&nbsp;</th>
</tr>
<tr>
   <th valign="top">&nbsp;</th>
</tr>
<tr>
   <th align="right">&nbsp;</th>
</tr>
<tr>
   <th align="right">15:30</th>
   <td rowspan = 5 > Wrangling<br>
   <font class="sub">+Practical</font><br>
   <p class="cont">
   How to reformat and join data?<br>
   How to slice and dice data? (renaming, sorting, filter, etc.)
   </p>
   <td rowspan = 4 > Case studies<br>
   <p class="cont">
   Apply and expand what you have learned in a prepared case study or your own data. 
   </p>
</tr>
<tr>
   <th align="right">&nbsp;</th>
</tr>
<tr>
   <th align="right">&nbsp;</th>
</tr>
<tr>
   <th align="right">&nbsp;</th>
</tr>
<tr>
   <th align="right">17:30</th>

   <td valign="top"> Next steps
   <p class="cont">
   How to continue your R journey.
   </p>
</tr>
<tr>
   <th align="right">18:00</th>
   <td class="td-special"> Wrap-up
   <td class="td-special"> Wrap-up & Apero</tr>
</tr>
</table>

</body>
</html>
