<div id="particles-js">
  <div class="content">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <!--<a href="#upcoming"><span class="site-subtitle">&#8594; Upcoming Bootcamps</a>-->
      <a class="link" href="https://therbootcamp.github.io/ML_2019May/"><font size=6 color="#FF3A2A">Bootcamp running...!</font></a>
      <div class="icons-header">
        <!---<a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>--->
        <a aria-label="Send email" href="#contact"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Linkedin" target="_blank" href="https://www.linkedin.com/company/basel-r-bootcamp/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
        <a class="link" href="#course" data-scroll>We Teach R</a>
        <a class="link" href="#upcoming" data-scroll>Upcoming</a>
        <a class="link" href="#about" data-scroll>Team</a>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
