
<div class="container">
  <div class="user-details">
    <br><br>
    <h2> Previous</h2>
  </div>
  <div class="row user-projects">
    <div class="four columns images">
      <p align="right">
      <i>I learned from the basics to really cool stuff like interactive plots.  Right after the bootcamp I decided to move fully into R.  Really great bootcamp!</i><br>
      <font size=2><b> Edgar, Associate Professor</b></font>
	</div>
    <div class="six columns">
      <p align="left">
      <h5> Current and past bootcamps</h5>
      September 2017 - <a href="https://therbootcamp.github.io/schedule">Schedule and Materials</a> 
      <br><br><br><br>
      </p>
    </div>
  </div>
</div>


