
<div class="container">
  <div class="user-details">
    <br><br>
    <h2> Previous Bootcamps </h2>
  </div>
  <div class="row user-projects">
    <div class="four columns images">
      <p align="right">
      <i>I learned from the basics to really cool stuff like interactive plots.  Right after the bootcamp I decided to move fully into R.  Really great bootcamp!
      
	</div>
    <div class="eight columns">
      <p align="left">
      September 2017 - <a href="https://therbootcamp.github.io/schedule">Schedule and Materials<> 
      </p>
    </div>
  </div>
</div>


