
<div class="container">
  <div class="user-details">
    <br><br>
    <h2> Upcoming Bootcamps</h2>
  </div>
  <div class="row">
    
    
	<table width="100%" border="0">
    <col width="70%">
  	<col width="30%">
  	<tr>    
  	<td valign="top">
  	<h5> Introduction to Data Science with R</h5> 
      <p align="left">
       2-day course. 6/7 October 2018. At Advanced Studies. University of Basel. Maximum: 20 students. Registration Fees: 1,190CHF. <a href="_courses/data_science_2018Oct.html" align="center">Learn more.</a><br>
       <font size = 4>18 spots left!</font>
       <a class="project-link" href="https://advancedstudies.unibas.ch/courses/course/introduction-to-data-science-with-r-208287" align="center">Register here.</a>
      </p>
  	</td>
  	<td valign="top">
      <p align="right">
      <img alt="Basel" src="{{ "/assets/img/data_science.png" | prepend: site.baseurl }}" align="middle" height="160px" width="280px" style="border-radius:5px" >
      <a href="https://www.careeranna.com/articles/data-analytics-vs-data-science/5b7c0c_cefd4de2d5db4ef9a701c408a627b3aa_mv2/" class="new" title="User:Lucazzitto (page does not exist)" style="font-size:10px;text-decoration:none" align='top'>source: careeranna.com</a>
      </p>
  	</tr>
  	<tr>    
  	<td valign="top">
  	<h5>Applied Machine Learning with R</h5> 
      <p align="left">
       2-day course. 19/20 January 2019. At Advanced Studies. University of Basel. Maximum: 15 students. Registration Fees: 1,490CHF.<br>
       <font size = 4>15 spots left!</font>
      <a class="project-link" href="https://advancedstudies.unibas.ch/courses/course/applied-machine-learning-with-r-208291" align="center">Register here!</a>
      <!---<a class="project-link" href="mailto:therbootcamp@gmail.com?subject=Preregistration for Applied Machine Learning with R&body=I would like to preregister for the R Bootcamp on 'Applied Machine Learning with R' on 19/20 January 2019 (tbc) in Basel, Switzerland." align="center">Preregister here!</a>--->
      </p>
  	</td>
  	<td valign="top">
      <p align="right">
      <img alt="Basel" src="{{ "/assets/img/machine_learning.png" | prepend: site.baseurl }}" align="middle" height="160px" width="280px" style="border-radius:5px" >
      <a href="https://towardsdatascience.com/selecting-the-best-machine-learning-algorithm-for-your-regression-problem-20c330bad4ef" class="new" title="User:Lucazzitto (page does not exist)" style="font-size:10px;text-decoration:none" align='top'>source: towardsdatascience.com</a>
      </p>
  	</tr>
  	 <tr>    
  	<td valign="top">
  	<h5>Statistics with R</h5> 
      <p align="left">
       2-day course. February/March 2019 (tba). At Advanced Studies. University of Basel. Maximum: 15 students. Registration Fees: 1,490CHF.<br>
       <font size = 4>15 spots left!</font>
      <a class="project-link" href="mailto:therbootcamp@gmail.com?subject=Preregistration for Statistics with R&body=I would like to preregister for the R Bootcamp on 'Statistics with R' in February/March 2019 (tbc) in Basel, Switzerland." align="center">Preregister here!</a>
      </p>
  	</td>
  	<td valign="top">
      <p align="right">
      <img alt="Basel" src="{{ "/assets/img/statistics3.png" | prepend: site.baseurl }}" align="middle" height="160px" width="280px" style="border-radius:5px" >
      <a href="https://cdn.lynda.com/course/495322/495322-636154038826424503-16x9.jpg" class="new" title="User:Lucazzitto (page does not exist)" style="font-size:10px;text-decoration:none" align='top'>source: lynda.com</a>
      </p>
  	</tr>
	</table>
    
    
    <!---
    
    <div class="four columns images">
      <p align="right">
      <img alt="Basel" src="{{ "/assets/img/basel_winter.jpg" | prepend: site.baseurl }}" align="middle"/>
      <a href="https://www.feratel.com/" class="new" title="User:Lucazzitto (page does not exist)" style="font-size:10px;text-decoration:none" align='top'>source:feratel.com</a></p>
    </div>
    <div class="eight columns">
      <h5> Basel R Bootcamp - new dates for Winter bootcamp to be announced soon</h5>
      <p align="left">
      4-day introductory course hosted by the advanced studies, University of Basel. Registration Fees: 1,490CHF
      <a class="project-link" href="https://advancedstudies.unibas.ch/studienangebot/kurs/basel-r-bootcamp-170699" align="center">Register here!</a>
      </p>
    </div>
    
          <a class="project-link" href="mailto:therbootcamp@gmail.com?subject=Preregistration for Introduction to Data Science with R&body=I would like to preregister for the R Bootcamp on 'Introduction to Data Science with R' on 7/8 October 2018 (tbc) in Basel, Switzerland." align="center">Preregister here!</a>
    --->
  </div>
</div>
