
<div class="container" align="left">
  <div class="user-details">
    <h3> Upcoming Courses </h3>
  </div>
  <div class="row user-projects">
    <div class="four columns images">
      <p align="right">
      <img alt="Basel" src="{{ "/assets/img/640px-Middle_Bridge,_Basel,_Switzerland.jpeg" | prepend: site.baseurl }}" align="middle"/>
      <a href="//commons.wikimedia.org/w/index.php?title=User:Lucazzitto&amp;action=edit&amp;redlink=1" class="new" title="User:Lucazzitto (page does not exist)" style="font-size:10px;text-decoration:none" align='top'>Lucazzitto,</a> <a href="http://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0" style="font-size:10px;text-decoration: none"  align='top'>CC BY-SA 3.0</a></p>
    </div>
    <div class="eight columns">
      <h5> Basel R Bootcamp - 9, 10, 16, 17 September, 2017</h5>
      <p align="left">
      4-day introductory R course in the advanced study program of the University of Basel. 
      <a class="project-link" href="#">Registration Coming Soon</a>
      </p>
    </div>
  </div>
</div>
