
<div class="container">
  <div class="user-details">
    <h3> Upcoming Courses </h3>
  </div>
  <div class="row user-projects">
    <div class="four columns images">
      <p align="right">
      <a href="https://commons.wikimedia.org/wiki/File:Middle_Bridge,_Basel,_Switzerland.JPG#/media/File:Middle_Bridge,_Basel,_Switzerland.JPG"><img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Middle_Bridge%2C_Basel%2C_Switzerland.JPG" alt="Middle Bridge, Basel, Switzerland.JPG" height="428" width="640"></a>
      <a href="//commons.wikimedia.org/w/index.php?title=User:Lucazzitto&amp;action=edit&amp;redlink=1" class="new" title="User:Lucazzitto (page does not exist)" style="font-size:10px;text-decoration:none" align='top'>Lucazzitto,</a> <a href="http://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0" style="font-size:10px;text-decoration: none"  align='top'>CC BY-SA 3.0</a></p>
    </div>
    <div class="eight columns">
      <h5> Basel R Bootcamp </h5>
      <p>
      4-day introductory R course in the advanced study program of the University of Basel. 
      <a class="project-link" href="#">Registration Coming Soon</a>
      </p>
    </div>
  </div>
</div>
