@import url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.description code {
  font-family: "Droid Sans Mono";
  background-color: white;
}

a {
  color: black;
  text-decoration:none;
  text-align:center;
  font-weight: bold;
}

h2 {

  font-weight = 500;
}
