.description code {
  font-family: "Droid Sans Mono";
  background-color: white;
}

a {
  color: black;
  text-decoration:none;
  text-align:center;
  font-weight: bold;
}

h2 {
 
  font-weight = 500;
}


.float-button {
position: fixed;
right: -77px;
top: 270px;
transition: all 0.2s ease-in 0s;//this is the key attribute
z-index: 9999;
cursor: pointer;
}

.float-button:hover {
right: -7px;//hide it by pushing it off the screen
}

 <button data-toggle="modal" data-target=".your-modal"></button>
