/* Two-column layout */

.small-code .remark-code {
    font-size: 80%;
}
.small h1, h2, h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.small .remark-code {
    font-size: 80%;
}

.inline-grey code {
  background: #F5F5F5; /* lighter */
  /* background: #e7e8e2; /* darker */
  border-radius: 2px;
  padding: 2px;
}


.pull-left1 {
  float: left;
  width: 10%;
}
.pull-right1 {
  float: right;
  width: 10%;
}

.pull-left2 {
  float: left;
  width: 20%;
}
.pull-right2 {
  float: right;
  width: 20%;
}

.pull-left3 {
  float: left;
  width: 30%;
}
.pull-right3 {
  float: right;
  width: 30%;
}
.pull-left4 {
  float: left;
  width: 40%;
}
.pull-right4 {
  float: right;
  width: 40%;
}
.pull-left5 {
  float: left;
  width: 50%;
}
.pull-right5 {
  float: right;
  width: 50%;
}
.pull-left6 {
  float: left;
  width: 60%;
}
.pull-right6 {
  float: right;
  width: 60%;
}
.pull-left7 {
  float: left;
  width: 70%;
}
.pull-right7 {
  float: right;
  width: 70%;
}
.pull-left8 {
  float: left;
  width: 80%;
}
.pull-right8 {
  float: right;
  width: 80%;
}
.pull-left9 {
  float: left;
  width: 90%;
}
.pull-right9 {
  float: right;
  width: 90%;
}


br2 {
   display: block;
   margin: 8px 0;
}
